body {
    background-color: #2b2b2b;
}

p {
    color: rgb(179, 179, 179);
}

.Header {
    font-size: 30px;
    margin-left: 10px;
    background-color: #ae00ff;
    border: none;
    color: #ffffff;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px;

}